:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --logo-text-color: #000000;
  --sacondary-white-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #f5f4fa;
  --sacondary-background-color: #e5e5e5;
  --footer-bacground-color: #2f303a;
  --variable-grid: 30px;
  --icons-color: #afb1b8;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* RESSET */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
ul,
p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
main {
}
/* HEADER */

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-text-color);
  margin-right: 93px;
}
.header-logo-design {
  color: var(--accent-color);
}

/* HIDDEN */

.advantage-visually-hidden,
.modal-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* UTILITY */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}
.animation-baсkground-color {
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}
/* transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
.animation-color {
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}
.animation-fill {
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}
.animation-opacity {
  transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
}
.animation-border {
  transition: 250ms border cubic-bezier(0.4, 0, 0.2, 1);
}
.animation-shadow {
  transition: 250ms shadow cubic-bezier(0.4, 0, 0.2, 1);
}
.animation-outline {
  transition: 250ms outline cubic-bezier(0.4, 0, 0.2, 1);
}
.animation-transform {
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
}
/* .animation-visibility {
  transition: 250ms visibility cubic-bezier(0.4, 0, 0.2, 1);
} */

/* NAVIGATION */

.header {
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}

.header.studio {
  border-bottom: none;
}

.header-site-nav .link:hover,
.header-site-nav .link:focus,
.header-site-auth .link:hover,
.header-site-auth .link:focus,
.footer-item .link:hover,
.footer-item .link:focus {
  color: var(--accent-color);
}

.header-site-nav,
.header-site-auth,
.header-nav {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0pt;
}

.header-site-nav {
  padding-left: 0px;
}

.header-site-auth {
  padding-left: 0px;
  margin-left: auto;
}

.header-site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.header-site-auth .item:not(:last-child) {
  margin-right: var(--variable-grid);
}

.header-site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.header-site-auth .link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-site-nav .link.header-current {
  color: var(--accent-color);
}
.header-site-auth-icon {
  fill: currentColor;
  margin-right: 10px;
}
.header-site-auth .link {
  display: flex;
  align-items: center;
}
.header-site-nav .item {
  position: relative;
}
.link.header-current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 48px;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  width: 100%;
}

/* HERO */

.hero-container-main {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.hero-container {
  background-color: var(--footer-bacground-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  display: block;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0 auto;
  padding-bottom: var(--variable-grid);
}

.hero-primary-button,
.footer-primary-button,
.modal-primary-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  border: 0px solid transparent;
}

.hero-primary-button:hover,
.footer-primary-button:hover,
.modal-primary-button:hover {
  background-color: #188ce8;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-img.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* ADVANTAGE */

.advantage {
  padding-bottom: 0px;
  background-color: var(--white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage-main.container {
  padding-top: 0px;
  padding-bottom: 0px;
}

.advantage-main .item::before {
  display: block;
  height: 120px;
  content: "";
  background-color: var(--primary-background-color);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantage-main .item:nth-child(1):before {
  background-image: url(../img/antenna\.svg);
}
.advantage-main .item:nth-child(2):before {
  background-image: url(../img/clock\ .svg);
}
.advantage-main .item:nth-child(3):before {
  background-image: url(../img/diagram.svg);
}
.advantage-main .item:nth-child(4):before {
  background-image: url(../img/astronaut\ .svg);
}

.advantage-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.advantage .list {
  display: flex;
  align-items: center;
}

.advantage .list .item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantage .list .item:not(:nth-child(4n)) {
  margin-right: var(--variable-grid);
}

/* DIRECTIONS */

.directions {
  background-color: var(--white-color);
  padding-bottom: 94px;
}
.directions-main.container {
  padding-bottom: 0px;
}
.directions-main {
  padding-top: 0px;
}
.directions .list {
  display: flex;
  align-items: center;
}

.directions .list .item {
  flex-basis: calc((100% - 60px) / 3);
}

.directions .list .item:not(:nth-child(3n)) {
  margin-right: var(--variable-grid);
}

.section-title {
  margin-bottom: 50px;
}
.directions-description {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  bottom: 0px;
  left: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: hsla(0, 0%, 100%, 1);
  padding: 27px 82px 27px 82 px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.directions-main .item {
  position: relative;
}
.directions-main .item:hover .directions-description {
  opacity: 1;
}
/* OUR TEAM */

.our-team-main.container {
  padding-top: 0px;
  padding-bottom: 0px;
}
.our-team {
  background-color: var(--primary-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team .list {
  display: flex;
  text-align: center;
}

.our-team .list .item {
  flex-basis: calc((100% - 90px) / 4);
}

.our-team .list .item:not(:nth-child(4n)) {
  margin-right: var(--variable-grid);
}
.our-team-sosial-list {
  justify-content: center;
}
.our-team-sosial-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;
}
.our-team-position {
  margin-bottom: 16px;
}
.our-team-sosial-item + .our-team-sosial-item {
  margin-left: 10px;
}
.our-team-sosial-icon {
  fill: var(--icons-color);
}

.our-team-sosial-link:hover,
.our-team-sosial-link:focus {
  background-color: var(--accent-color);
}

.our-team-sosial-link:hover .our-team-sosial-icon,
.our-team-sosial-link:focus .our-team-sosial-icon {
  fill: var(--white-color);
}

.our-team .our-team-employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.our-team .our-team-position {
  font-size: 16px;
  line-height: 1.19;
}

.our-team-description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-employee {
  margin-bottom: 10px;
}

/* OUR PARTNERS */

.our-partners.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-partners-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.our-partners-item {
  display: flex;
}
.our-partners-link-icon {
  display: inline-flex;
  color: #afb1b8;
  width: 170px;
  height: 92px;
  fill: var(--icons-color);
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.our-partners-link-icon:hover .our-partners-icon,
.our-partners-link-icon:focus .our-partners-icon {
  fill: var(--accent-color);
}

.our-partners-link-icon:hover,
.our-partners-link-icon:focus {
  border: 1px solid var(--accent-color);
}

/* FOOTER */

.footer {
  background-color: var(--footer-bacground-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-main.container {
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  align-items: baseline;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
  display: inline-block;
  margin-bottom: 20px;
}

.footer-logo-design {
  color: var(--accent-color);
}

.footer-contact {
  font-style: normal;
  width: 231px;
  display: block;
}

.footer-item .link {
  color: var(--sacondary-white-color);
}

.footer-contact .contact-location {
  color: var(--white-color);
}

.footer-item .list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-sosial-icon {
  fill: var(--white-color);
}

.footer-appeal,
.footer-form-appeal {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  display: block;
  margin-bottom: 20px;
}

.footer-appeal-list {
  display: flex;
}

.addres-wrap {
  display: block;
  margin-right: 70px;
  width: 100%;
}

.appeal-wrap {
  margin-right: 93px;
}

.footer-appeal-item:not(:last-child) {
  margin-right: 20px;
}

.footer-appeal-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-appeal-link:hover,
.footer-appeal-link:focus {
  background-color: var(--accent-color);
}
.appeal-form-enter {
  position: relative;
  display: inline-block;
}

.footer-appeal-form-enter {
  width: 358px;
  height: 50px;
  background-color: transparent;
}

/* FOOTER-FORM */

.footer-form {
  width: 570px;
  height: 86px;
}

.footer-form-input:focus + .footer-form-label,
.footer-form-input:not(:placeholder-shown) + .footer-form-label,
.footer-form-input:hover + .footer-form-label {
  transform: translateY(-60px);
}

.footer-form-input:focus {
  outline: none;
}

.footer-form-enter {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.footer-form-label {
  position: absolute;
  top: 50%;
  left: 16px;
  padding: 0px;
  margin: 0px;
  transform: translateY(-50%);
}

.footer-form-input {
  width: calc(100% - 212px);
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--footer-bacground-color);
  color: var(--white-color);
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

/* BUTTONS */

.sacondary-button:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.hero-primary-button,
.footer-primary-button,
.modal-primary-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.sacondary-button {
  color: var(--title-text-color);
  background-color: var(--primary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px 6px 22px;
  transition: 250ms shadow cubic-bezier(0.4, 0, 0.2, 1),
    250ms bacground-color cubic-bezier(0.4, 0, 0.2, 1),
    250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-primary-button.animation-baсkground-color {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 50px;
  /* padding: 0;
  padding-left: 32px; */
  padding: 10px 28px 10px 29px;
}

.footer-primary-button-send {
  /* margin-left: 10px; */
  fill: var(--white-color);
}

/* PORTFOLIO */

/* GALLERY */

/* HIDDEN */

.gallery-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section.list {
  padding-top: 94px;
  padding-bottom: 94px;
}

.gallery-main.container {
  padding-top: 0px;
  padding-bottom: 0px;
}

.item .title-works {
  margin-top: 0px;
  margin-bottom: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.item .kind-works {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* background-color: royalblue; */
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.gallery.list .link {
  display: block;
}

/* gallery-card-description */

.gallery-button {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.gallery-button .item:not(:last-child) {
  margin-right: 8px;
}

.sacondary-button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--variable-grid));
  margin-left: calc(-1 * var(--variable-grid));
}

.gallery.list .item {
  flex-basis: calc(100% / 3 - var(--variable-grid));
  margin-top: var(--variable-grid);
  margin-left: var(--variable-grid);
}

.gallery-card-description {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
}

.gallery-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery-card-thumb {
  position: relative;
  overflow: hidden;
}
.gallery-overlay {
  display: inline-block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  top: 0px;
  left: 0px;
  /* opacity: 0; */
  padding: 63px 24px 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover .gallery-overlay {
  transform: translateY(0);
  pointer-events: none;
  opacity: 1;
}

.gallery-overlay-text {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;

  line-height: 1.33;
  letter-spacing: 0.03em;
  text-align: left;
  vertical-align: top;
}

/* MODAL WINDOW */
/* .backdrop-thumb {
  position: relative;
} */
.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: rgba(36, 33, 33, 0.3);
  opacity: 1;
  visibility: visible;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(0deg) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg) scale(1);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white-color);

  text-align: left;
  padding: 40px;
  width: 448px;
}

.modal-wrap-input {
  position: relative;
  overflow: hidden;
}
.modal-input {
  display: block;

  width: 448px;
  height: 40px;
  padding-left: 36px;
  padding-right: 12px;
  border-radius: 4px;
  border-color: rgba(33, 33, 33, 0.2);
  transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1),
    250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input.comment {
  display: inline-block;
  height: 120px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-input:focus + .modal-icon-input,
.modal-input:not(:placeholder-shown) + .modal-icon-input {
  fill: var(--accent-color);
}
.modal-input:focus,
.modal-input:not(:placeholder-shown) {
  border-color: var(--accent-color);
}

.modal-icon,
.modal-icon-input {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);
  fill: var(--title-text-color);
}
.modal-icon {
  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon-input {
  left: 12px;
}

.main-modal-registration {
  position: relative;
  display: inline-block;
  /* margin-bottom: 20px; */
}
.modal-title {
  display: inline-block;
  position: relative;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  vertical-align: top;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-caption {
  font-size: 12px;
  line-height: 1.17;
  text-align: left;
  /* vertical-align: top; */
  letter-spacing: 1%;
  margin-bottom: 4px;
}
.modal-caption.agreement {
  position: relative;
  display: block;

  margin-left: 12px;
  font-size: 14px;
  line-height: 14.6px;
  text-align: left;

  letter-spacing: 3%;

  align-items: baseline;
}
.modal-agreement {
  display: flex;
  justify-content: center;

  /* align-items: baseline; */
}
.modal-submit {
  text-align: center;
}

.modal-registration {
  margin-bottom: 10px;
}
.modal-registration.comment {
  margin-bottom: 20px;
}
.modal-caption.link {
  color: var(--accent-color);
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 14.6px;
  /* text-align: left;
  vertical-align: top; */
  letter-spacing: 0.03em;
}
.modal-icon {
  align-items: center;
  fill: var(--title-text-color);
}

.modal-input.comment {
  position: relative;
  height: 120px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;

  padding: 12px 16px 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input.comment::placeholder {
  position: absolute;
  top: 12px;
  left: 16px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-wrap-input:hover .modal-input,
.modal-wrap-input:focus .modal-input,
.modal-input.comment:hover {
  cursor: pointer;
  border-color: var(--accent-color);
}
.modal-input:focus {
  outline: none;
}

.modal-wrap-input:hover .modal-icon-input,
.modal-wrap-input:focus .modal-icon-input {
  fill: var(--accent-color);
  cursor: pointer;
}

.modal-close-form {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  top: 8px;
  right: 8px;
  border-color: transparent;
  padding: 0px;
}

.modal-close-form:hover,
.modal-close-form:focus {
  fill: var(--accent-color);
  cursor: pointer;
  outline: 1px solid var(--accent-color);
}
.modal-close-form:hover .modal-icon.button,
.modal-close-form:focus .modal-icon.button {
  fill: var(--accent-color);
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.modal-checkbox-label {
  display: inline-block;
  text-align: end;
  margin-left: 23px;
}

.modal-checkbox-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url(../img/vector-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-caption.link {
  text-decoration: underline;
}
.checkbox:checked + .modal-checkbox-icon {
  background-color: var(--accent-color);
  border: 2px solid transparent;
}
.modal-submit .modal-primary-button {
  margin-top: 30px;
}
